.Home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}

.Home
{
    background-image: url("../../assets/background.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Home__desc
{
    text-align: center;
    width: 80vw;
}