.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: black;
}

.App__background {
    background-color: aliceblue;
    border-radius: 20px;
}

.App__background {
    width: 90vw;
    height: 80vh;
}