.d-flex {
  display: grid;
  grid-template-columns: 10fr 10fr;
  max-width: 800px;

  width: 100vw;
  margin: auto;

  font-family: monospace;
  margin-bottom: 10em;
  margin-top: 5em;
}

.d-container {
  background-image: url("../../assets/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.d-width-card {
  margin: 10px;
  background: white;
  box-shadow: 3px 5px 5px -6px #333;
  backdrop-filter: blur(7px);
  border-radius: 19px;
}

.d-width-card {
  padding: 20px;
}

.d-width-card h2 {
  color: #111;
}
.d-width-card p {
  color: white;
}
.d-width-card a {
  background-color: black;
  padding: 10px 50px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}
.d-width-card p {
  color: #333;
  margin-top: 10px;
  font-size: 13px;
}
.d-width-card a {
  background-color: black;
  padding: 8px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.d-width-card a:hover {
  background-color: white;
  border: 1px solid black;
}
.d-button-flex {
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
}

@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
  .d-width-card p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
  .d-width-card p {
    text-align: center;
  }
  .d-width-card {
    margin-bottom: 30px;
  }
}
