.d-flex {
  display: flex;

  max-width: 1000px;
  width: 100vw;
  height: 100vh;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  background-image: url("../../assets/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.d-width-card {
  margin: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.779) 100%
  );
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 19px;
}

.d-width-card {
  padding: 10px;
}

.d-width-card h2 {
  color: white;
}
.d-width-card p {
  color: white;
}
.d-width-card a {
  background-color: black;
  padding: 10px 50px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}
.d-width-card a:hover {
  background-color: white;
  border: 1px solid black;
}
.d-button-flex {
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
}
