.d-flex {
  display: flex;
  
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
.d-width-card {
    margin: 10px;
}
.d-width-card h2 {
    
}
.d-width-card p {
    color: #333;
    
}
.d-width-card a {
    background-color: black;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;

}
.d-width-card a:hover {
    background-color: white;
    border: 1px solid black;
}
.d-button-flex {
    display: flex;
    justify-content: center;
    padding: 20px;
   
}
@media (max-width:600px) {
    .d-flex {
        display: block;
    }
}